{% extends 'layout.html' %}
{% block content %}
    <div class="plan">
        <div id="plan">
            <table class="basic-table">
                <tr>
                    <th>기본 요금</th>
                </tr>
                <tr>
                    <td>10분당 1000원</td>
                </tr>
            </table>
            <table class="ticket-table">
                <tr>
                    <th colspan="2">정기권</th>
                </tr>
                <tr>
                    <td>
                        1개월
                    </td>
                    <td>
                        150000원
                    </td>
                </tr>
                <tr>
                    <td>
                        3개월
                    </td>
                    <td>
                        400000원
                    </td>
                </tr>
                <tr>
                    <td>
                        6개월
                    </td>
                    <td>
                        700000원
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}