{% extends 'layout.html' %}
{% block content %}
    <div class="join">
        <form id="join-form" action="/auth/join" method="POST" onsubmit="return checkPassword()">
            <ul>
                <li>
                    <label for="car-number">차량번호</label>
                    <input id="car-number" type="text" name="carNumber" required pattern="(\d{2,3})([가-힣])(\d{4})">
                </li>
                <li>
                    <label for="email">이메일</label>
                    <input id="email" type="email" name="email" required>
                </li>
                <li>
                    <label for="password">비밀번호</label>
                    <input id="password" type="password" name="password" required>
                </li>
                <li>
                    <label for="confirm-password">비밀번호 확인</label>
                    <input id="confirm-password" type="password" name="confirmPassword" required>
                </li>
                <li>
                    <p id="message">{{message}}</p>
                </li>
                <li>
                    <button type="submit" class="btn btn--primary">회원가입</button>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block script %}
<script>
        function checkPassword() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            const message = document.getElementById('message');
            if (password != confirmPassword) {
                message.innerHTML = "비밀번호를 다시 확인해주세요.";
                return false;
            }
        };
</script>
{% endblock %}