<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
    <title>WJ파크</title>
    <meta name="author" content="Woojong">
    <meta name="description" content="Parking System">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="body__container">

    <!-- HEADER -->
    <header class="section">
        <div class="inner">
            <div class="home">
                <a href="/">WJ파크</a>
            </div>
            <div class="menu-group">
                <ul class="main-menu toggle">
                    <li><a href="parkin">주차하기</a></li>
                    <li><a href="parkout">출차하기</a></li>
                    <li><a href="ticket">정기권</a></li>
                    <li><a href="Plan">요금안내</a></li>
                </ul>
            </div>
            <div class="btn-group toggle">
                <div>
                    <a href="login" class="btn login">로그인</a>
                    <a href="join" class="btn btn--primary join">회원가입</a>
                </div>
            </div>
            <div id="toggle-btn">Header</div>
        </div>
    </header>

    <!-- VISUAL -->
    <section>
        <div class="inner">
            <div class="summary">
                <h2>
                    WJ파크를 이용해주셔서 감사합니다.
                </h2>
                <p>
                    회원가입 후 20% 할인을 받으세요.
                </p>
            </div>
        </div>
    </section>

    <footer>
        <div class="inner clearfix">
            <ul class="site-links float--right">
                <li><a href="https://github.com/KimWoojong1995">GitHub</a></li>
                <li><a href="https://github.com/KimWoojong1995/Resume">Resume</a></li>
                <li><a href="https://kimwoojong1995.github.io/PortFolio/">PortFolio</a></li>
            </ul>
            <div class="make">
                © Made by Woojong!
            </div>
            <ul class="site-links float--left">
                <li><a href="https://woojong-develop.tistory.com">Blog</a></li>
                <li><a href="mailto:woojong1995@gmail.com">Mail</a></li>
                <li><a href="tel:010-5551-5479">Tel</a></li>
            </ul>
        </div>
    </footer>

</div>
</body>
</html>