{% extends 'layout.html' %}
{% block content %}
    <div class="login">
        <form id="login-form" action="/auth/login" method="POST">
            <ul>
                <li>
                    <label for="email">이메일</label>
                    <input id="email" type="text" email="email" required>
                </li>
                <li>
                    <label for="password">비밀번호</label>
                    <input id="password" type="password" name="password" required>
                </li>
                <li>
                    <p>
                        {{message}}
                    </p>
                </li>
                <li>
                    <button type="submit" class="btn btn--primary">로그인</button>
                </li>
                <li>
                    <a href="/auth/join"><button class="btn" type="button">회원가입</button></a>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}