{% extends 'admin.html' %}
{% block table %}
<table class="member-record">
    <tr>
        <th>차량 번호</th>
        <th>가입일</th>
        <th>정기권</th>
        <th>삭제</th>
    </tr>
    <input id="total-data" type="hidden" value="{{totalData}}">
    {% for memberRecord in memberRecord %}
    <tr>
        <td>{{memberRecord.carNumber}}</td>
        <td>{{memberRecord.createdAt.toLocaleString()}}</td>
        {% if memberRecord.ticket %}
        <td>{{memberRecord.ticket.toLocaleString()}}</td>
        {% else %}
        <td>없음</td>
        {% endif %}
        <td>
            <form action="/admin/member/record/delete" method="POST">
                <input type="hidden" name="id" value={{memberRecord.id}}>
                <input type="hidden" name="pageNum" value={{pageNum}}>
                <input type="submit" value="삭제">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pages-wrapper">
    <ul id="pages">
    </ul>
</div>
<script src="/js/pagination.js"></script>
<script>
    const totalData = document.getElementById('total-data').value;
    const currentPage = location.href.split('record/').pop();
    const pages = document.getElementById('pages');
    
    pagination(totalData, currentPage, pages);
</script>
{% endblock %}