{% extends 'layout.html' %}
{% block content %}
    <div class="park">
        <form id="park-form" action="/park/out" method="POST">
            <ul>
                <li>
                    <label for="carNumber">차량번호</label>
                    <input id="carNumber" type="text" name="carNumber" required pattern="(\d{2,3})([가-힣])(\d{4})">
                </li>
                <li>
                    <button type="submit" class="btn btn--primary">출차하기</button>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}