{% extends 'layout.html' %}
{% block content %}
    <div class="login">
        <form id="login-form" action="/auth/login" method="POST">
            <ul>
                <li>
                    <label for="car-number">차량번호</label>
                    <input id="car-number" type="text" name="carNumber" required pattern="(\d{2,3})([가-힣])(\d{4})">
                </li>
                <li>
                    <label for="password">비밀번호</label>
                    <input id="password" type="password" name="password" required>
                </li>
                <li>
                    <p>
                        {{message}}
                    </p>
                </li>
                <li>
                    <button type="submit" class="btn btn--primary">로그인</button>
                </li>
                <li>
                    <a href="/auth/join"><button class="btn" type="button">회원가입</button></a>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}