.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    /* background: #f5f5f5; */
}
a {
    text-decoration: none;
}

/* COMMON */
section,
.inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* BTN */
.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}
.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(211, 210, 210, 0.7); */
    background: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* HEADER */
header {
    border-bottom: 1px solid #e4e8eb;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
    background: #fff;
}
header .inner {
    height: 78px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .menu-group, header .home{
    display: flex;
    align-items: center;
    height: 100%;
}
header .home a {
    color: #51abf3;
    display: block;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
}
header .main-menu {
    display: flex;
}
header .main-menu li a {
    display: block;
    padding: 40px;
    font-weight: 600;
    color: #3c4146;
}
header .main-menu li a:hover {
    color: #4078c0;
}
header .btn-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .btn-group div {
    display: flex;
}
header .btn-group .login,
header .btn-group .left {
    margin-right: 5px;
}
header .btn-group .ticket-info {
    font-size: 14px;
    margin-right: 5px;
}
#toggle-btn {
    display: none;
    background: url("../img/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
}

/* SECTION */
section {
    background: url(img/bg-parking.png) no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 750px;
}
/* index.html */
section .inner {
    padding: 280px 0;
}
section .summary {
    text-align: center;
}
section .summary h2 {
    color: #fff;
    font-size: 54px;
    line-height: 1.25;
    margin-bottom: 18px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
                 0 1px 25px rgba(0, 0, 0, 0.75);
}
section .summary p {
    color: #fff;
    font-size: 26px;
    line-height: 1.5;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
                 0 1px 25px rgba(0, 0, 0, 0.75);
}
/* SECTION COMMON */
section .join,
section .login,
section .park,
section .ticket,
section .plan {
    width: 340px;
    margin: 0 auto;
}
#join-form,
#login-form,
#park-form,
#ticket-form {
    color: #fff;
    padding-top: 30px;
    font-size: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
                 0 1px 25px rgba(0, 0, 0, 0.75);
}
#join-form li,
#login-form li,
#park-form li,
#ticket-form li {
    margin-bottom: 17px;
}
#join-form li:last-child,
#login-form:last-child {
    margin-bottom: 0;
}
#join-form input,
#login-form input,
#park-form input,
#ticket-form input,
#ticket,
#plan {
    width: 100%;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 0;
}
#join-form button,
#login-form button,
#park-form button,
#ticket-form button {
    width: 100%;
    height: 48px;
    font-size: 20px;
    justify-content: center;
}
/* join.html */
section .join {
    padding: 180px;
}
/* login.html */
section .login {
    padding: 180px;
}
/* park.html, ticket.html */
section .park {
    padding: 200px;
}
#park-form p,
#ticket-form p {
    text-align: center;
}
section .ticket {
    padding: 180px;
}
#check-member {
    margin-top: 100px;
    font-size: 25px;
}
/* plan.html */
section .plan {
    padding: 230px;
}
section .plan .basic-table {
    width: 340px;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
}
section .plan .ticket-table {
    width: 340px;
    height: 100px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
}
section .plan  th, td,
section .parking-record th, td,
section .member-record th, td {
    border: 1px solid #3c4146;
    padding: 5px;
    text-align: center;
}
/* admin.html */
section #admin {
    display: flex;
    padding-top: 140px;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
}
#admin a {
    font-size: 20px;
    justify-content: center;
    width: 170px;
    margin: 0 10px;
}
section #admin div:first-child {
    margin-bottom: 10px;
}
section .parking-record,
section .member-record {
    width: 600px;
    margin: 20px auto 0;
    background: rgba(255, 255, 255, 0.9);
}
/* pagination */
.pagination-wrapper {
    width: 600px;
    margin: 5px auto 0;
}
#pagination {
    display: flex;
    justify-content: center;
}
#pagination .btn {
    margin: 0 2px;
    height: 25px;
    padding: 0 7px;
}

/* Footer */
footer {
    border-top: 1px solid #e4e8eb;
}
footer .inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
}
footer .site-links {
    display: flex;
}
footer .site-links li, .made {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
}
footer .site-links li a {
    color: #51abf3;
}
footer .site-links li a:hover {
    text-decoration: underline;
}