@media (max-width: 850px) {

    header.section .inner {
        max-width: none;
        height: auto;
        padding: 0 20px;
    }
    header .home a {
        padding: 12px;
    }
    header .menu-group{
        /* display: block; */
    }
    header .toggle {
        display: none;
    }
    header .toggle.on {
        display: block;
    }
    #toggle-btn {
        display: block;
    }
}